settings.local.json
settings.json
__pycache__
.venv
.pytest_cache
.vscode
.env
.stignore
.ruff_cache
cs2_depot
bin
vcall_finder
.codex/skills
.agents/skills
*.sh
libtier0.so
hm
libtier0.so.*
libtier0.so
hm
clear_ida_db.sh
pop.sh
update_css_gamedata.sh
gamedatatest.json
