configs/*.yaml -text
/bin_artifacts/**/*.yaml text eol=lf
/binary_locks/*.json text eol=lf
/binary_locks/README.md text eol=lf
gamedata-generators/** text eol=lf
/gamedata-generators/**/templates/* -text -eol -whitespace
